# Override containers for local / dev environnement
version: "2.4"
services:
  reverse_proxy:
    restart: "no"
    volumes:
      - catalogue_apprentissage_nginx_data:/data:z

  ui:
    restart: "no"
    mem_limit: 1g
    stdin_open: true
    volumes:
      - ./ui:/app:z #Allows source folders to be watched
    build:
      context: ui
      dockerfile: Dockerfile.dev
    env_file: ./ui/.env
    environment:
      - FAST_REFRESH=false
      - WDS_SOCKET_PORT=0

  server:
    restart: "no"
    ports:
      - "127.0.0.1:9229:9229" # Allows remote debugging
    volumes:
      - ./server:/app:z # Allows source folders to be watched
      - catalogue_apprentissage_server_data:/data:z
    env_file: ./server/.env
    build:
      context: server
      dockerfile: Dockerfile.dev
      args:
        - NPM_TOKEN=local
    environment:
      - CATALOGUE_APPRENTISSAGE_ENV=dev
      - CATALOGUE_APPRENTISSAGE_LOG_LEVEL=debug
      - TZ=Europe/Paris

  mongodb:
    restart: "no"
    ports:
      - "127.0.0.1:27017:27017"
    mem_limit: 12g
    volumes:
      - catalogue_apprentissage_mongodb_data:/data:z

  elasticsearch:
    restart: "no"
    ports:
      - "127.0.0.1:9200:9200"
    mem_limit: 4g
    volumes:
      - catalogue_apprentissage_data_elasticsearch:/usr/share/elasticsearch/data:z

  kibana:
    restart: "no"
    ports:
      - "127.0.0.1:5601:5601"
    volumes:
      - ./elasticsearch/kibana.yml:/usr/share/kibana/config/kibana.yml:ro,z

volumes:
  catalogue_apprentissage_data_elasticsearch:
    driver: local
    name: catalogue_apprentissage_data_elasticsearch
  catalogue_apprentissage_mongodb_data:
    driver: local
    name: catalogue_apprentissage_mongodb_data
  catalogue_apprentissage_nginx_data:
    driver: local
    name: catalogue_apprentissage_nginx_data
  catalogue_apprentissage_server_data:
    driver: local
    name: catalogue_apprentissage_server_data
  catalogue_apprentissage_server_node_modules:
    driver: local
    name: catalogue_apprentissage_server_node_modules
