version: "2.4"
services:
  reverse_proxy:
    image: catalogue_apprentissage_reverse_proxy
    container_name: catalogue_apprentissage_reverse_proxy
    tty: true
    build:
      context: reverse_proxy
    mem_limit: 256m
    restart: unless-stopped
    ports:
      - 80:80
    networks:
      - catalogue_apprentissage_network
    depends_on:
      - server
      - ui

  ui:
    image: catalogue_apprentissage_ui
    container_name: catalogue_apprentissage_ui
    tty: true
    build:
      context: ui
    mem_limit: 256m
    networks:
      - catalogue_apprentissage_network
    depends_on:
      - server

  server:
    image: catalogue_apprentissage_server
    container_name: catalogue_apprentissage_server
    tty: true
    build:
      context: server
    mem_limit: 3g
    restart: unless-stopped
    networks:
      - catalogue_apprentissage_network
    depends_on:
      - mongodb
    environment:
      - CATALOGUE_APPRENTISSAGE_MONGODB_URI=mongodb://mongodb:27017/catalogue-apprentissage?retryWrites=true&w=majority
      - CATALOGUE_APPRENTISSAGE_ELASTICSEARCH_NODE=http://elasticsearch:9200
      - NODE_ICU_DATA=node_modules/full-icu

  mongodb:
    image: mongo:5.0.2-focal
    container_name: catalogue_apprentissage_mongodb
    tty: true
    restart: unless-stopped
    networks:
      - catalogue_apprentissage_network

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:${DOCKER_ES_VERSION:-7.17.5}
    container_name: catalogue_apprentissage_elasticsearch
    tty: true
    environment:
      - ES_JAVA_OPTS=-Xmx1024m -Xms1024m -Dlog4j2.formatMsgNoLookups=true
      - cluster.name=docker-cluster
      - discovery.type=single-node
      - discovery.zen.minimum_master_nodes=1
      - network.host=0.0.0.0
    mem_limit: 2g
    networks:
      - catalogue_apprentissage_network

  kibana:
    image: docker.elastic.co/kibana/kibana:${DOCKER_ES_VERSION:-7.17.5}
    container_name: catalogue_apprentissage_kibana
    tty: true
    depends_on:
      - elasticsearch
    networks:
      - catalogue_apprentissage_network
    mem_limit: 512m

networks:
  catalogue_apprentissage_network:
    name: catalogue_apprentissage_network
