.search-page .search .search-container input {
  border: none;
  border-radius: 4px 4px 0 0;
  border-bottom: 2px solid #000091;
  background: #f0f0f0;
  color: #1e1e1e;
  padding-left: 42px;
}
.search-page .search .search-container input::placeholder {
  font-style: italic;
  color: #6a6a6a;
}
.search-page .search .search-container input:focus-visible {
  outline: #2a7ffe solid 2px;
  outline-offset: 2px;
}

.search-page .search .title {
  text-align: center;
  color: #19414c;
  margin-bottom: 20px;
}
.search-page .search .search-row {
  justify-content: center;
}

.search-page .search .search-sidebar {
  flex: 0 0 25%;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.search-page .search .search-results {
  flex: 0 0 75%;
  max-width: 75%;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.search-page .search .search-container {
  background-color: #fff;
  /* padding: 15px; */
  border-radius: 5px;
  /* box-shadow: 0 2px 2px 0 rgba(215, 215, 215, 0.5); */
}
.search-page .search .add-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.search-page .search .add-btn a {
  color: white;
}
.search-page .search .add-btn .btn-outline-primary {
  background-color: #377c88;
  border-color: #377c88;
  width: 100%;
}
.search-page .search .result-view {
  width: 100%;
  padding-top: 10px;
}
.search-page .search .view {
  padding-top: 25px;
}
.search-page .search .search-container.search-container-simple .ekqohx90 {
  top: 8px;
}
.search-page .react-autosuggest__container {
  flex-grow: 1;
}
.search-page .react-autosuggest__suggestions-container--open {
  position: absolute;
  background: #fff;
  margin-top: -5px;
  margin-left: 3px;
  padding: 5px;
  z-index: 1;
}
.search-page .react-autosuggest__suggestions-container--open ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-indent: 0;
}
.search-page .react-autosuggest__suggestions-container--open ul li {
  cursor: pointer;
}
.search-page .react-autosuggest__suggestions-container--open ul li:hover {
  font-weight: bold;
}
.search-page .summary-stats {
  font-size: 1em;
  display: flex;
  flex-grow: 1;
}
.search-page .summary-stats .summary-text {
  flex: 1;
}
.search-page .loading-placeholder {
  height: 419px;
}
.search-page .published-btn a {
  color: #929292;
}
.search-page .published-btn a.active {
  color: white;
}
.search-page .debug-text-button {
  font-size: 18px;
}

.search-page .search .selected-filters-button {
  background-color: rgba(0, 0, 145, 0.08);
  color: #000091;
  border-radius: 16px;
  padding: 4px 12px;
}

.search .search-pagination a {
  background: none;
  padding: 5px 12px;
  border-radius: 20px;
  border-width: 0;
  color: #1e1e1e;
}
.search .search-pagination a:hover {
  background: #f0f0f0;
}
.search .search-pagination a.active {
  background: #000091;
  color: white;
}
.search .search-pagination a:focus {
  box-shadow: 0 0 0 3px #2a7ffe;
}

@media screen and (max-width: 767px) {
  .search .filter_mobile_menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .search .filter_mobile_menu img {
    width: 20px;
    margin: 5px;
  }
  .search .search-sidebar .close_mobile_menu {
    visibility: visible;
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 30px;
  }
  .search #mainSearch-downshift-input {
    height: 40px;
    padding-left: 30px;
  }
  .search .mobile_open {
    transform: translateX(0);
  }
  .react-es-searchbox input::placeholder {
    font-size: 14px;
  }
  .search-page .search .search-results {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
