.formation {
  min-height: 100vh;
  background-color: #e5edef;
  color: #19414c;
}
.formation .notice {
  display: flex;
  align-content: flex-start;
  align-items: "center";
  flex-direction: column;
  padding-bottom: 60px;
  width: 100%;
}
.formation .notice .field {
  padding-bottom: 10px;
}
.formation .notice .field.multiple {
  display: flex;
  flex-grow: 1;
}
.formation .notice .field.multiple div {
  flex: 1;
}
.formation .notice .field.field-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.formation .notice .field.field-button a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
}
.formation .notice .field.field-button .btn-primary {
  background-color: #377C88;
  border-color: #377C88;
  width: 100%;
}
.formation .notice .field p {
  font-weight: normal;
  font-size: 1rem;
  word-wrap: break-word;
  white-space: pre-line;
  margin-bottom: 0px;
}
.formation .notice .field h3 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5;
  color: #19414cd0;
  text-align: left;
  padding-right: 7px;
  margin-bottom: 3px;
}
.formation .edit-pen {
  margin-bottom: 3px;
  margin-left: 5px;
}
.formation .notice .heading {
  color: #025d59;
  font-size: 28px;
  margin: 30px 15px 30px 15px;
  text-align: center;
}
.formation .notice .notice-details {
  background-color: #fff;
  padding: 25px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(189, 189, 189, 0.5);
}
.formation .notice .notice-details h2 {
  color: #19414c;
  font-weight: 600;
  font-size: 26px;
  margin-bottom: 20px;
}
.formation .notice .sidebar-section h2 {
  color: #19414c;
  font-weight: 600;
  font-size: 26px;
  margin-bottom: 20px;
}
.formation .notice .notice-btn {
  text-decoration: none;
  background-color: #377d87;
  font-weight: 400;
  font-size: 16px;
  border: 0;
  color: #fff;
  max-width: 250px;
  width: 100%;
  margin: 15px auto 5px;
  padding: 5px;
  display: block;
  text-align: center;
  border-radius: 5px;
}
.formation .notice .field span {
  font-weight: bold;
  display: inline-block;
  word-wrap: break-word;
}
.formation .notice .sidebar-section {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 2px 0 rgba(215, 215, 215, 0.5);
  margin-bottom: 20px;
}
.formation .notice .sidebar-section.sidebar-section-edit {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 60px;
}
.formation .notice .sidebar-section.sidebar-section-edit .btn-warning,
.formation .notice .sidebar-section.sidebar-section-edit .btn-danger,
.formation .notice .sidebar-section.sidebar-section-edit .btn-success {
  color: white;
  width: 80%;
}
.formation .notice .sidebar-section.links .card {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
  box-shadow: 0 2px 4px 0 rgba(189, 189, 189, 0.5);
  transition: 0.3s;
  height: 110px;
  overflow: hidden;
}
.formation .notice .sidebar-section.links .card:hover {
  box-shadow: 0 3px 6px 0 #bdbdbd;
}
.formation .notice .sidebar-section.links .card .content {
  padding: 10px 10px 10px 0;
  overflow: hidden;
  width: 100%;
}
.formation .notice .sidebar-section.links .card img {
  width: 120px;
  object-fit: cover;
  margin-right: 15px;
}
.formation .notice .sidebar-section.links .card .content .categories {
  font-size: 12px;
  color: #808d9e;
  font-weight: 300;
  margin-bottom: 5px;
}
.formation .notice .sidebar-section.links .card h1 {
  color: #025d59;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
.formation .notice .sidebar-section.links .card p {
  color: #484848;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  white-space: nowrap;
  margin-bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
