.local/
*.xls*
dump/
coverage.lcov

# exclude keys
id_rsa*
*.cert
*.key

# exclude tmp zip file
rco.zip

# YARN 2
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
