nodeLinker: node-modules
defaultSemverRangePrefix: ""

npmScopes:
  mission-apprentissage:
    npmRegistryServer: "https://npm.pkg.github.com"
    npmPublishRegistry: "https://npm.pkg.github.com"
    npmAlwaysAuth: true
    npmAuthToken: xxxxxxxxxx
