.list-card-formation {
  width: 100%;
}
.list-card-formation .list-card-container {
  display: flex;
  flex-direction: row;
  box-shadow: 0 2px 4px 0 rgba(189, 189, 189, 0.5);
  transition: 0.3s;
  height: 110px;
  overflow: hidden;
  background-color: white;
  height: auto;
  margin: 7px 0px 7px 0px;
  border-radius: 5px;
  padding: 25px;
}
.list-card-formation .list-card-left {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: left;
  color: black;
  flex-direction: column;
}
.list-card-formation .list-card-left h3 {
  font-weight: 600;
}

.list-card-formation .list-card-container:hover {
  box-shadow: 0 3px 6px 0 #bdbdbd;
}
.list-card-formation .content {
  padding: 15px 30px 10px 0;
  overflow: hidden;
  width: 100%;
  position: relative;
}
.list-card .content .edition-btns {
  display: flex;
  height: 38px;
}
.list-card .content .btn-outline-warning {
  margin-right: 5px;
}
.list-card .thumbnail {
  width: 415px;
  margin-right: 30px;
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  flex-direction: column;
}
.list-card img {
  width: 100%;
  height: 200px;
  object-fit: contain;
}
.list-card img.no-img {
  width: 190px;
  height: 140px;
}
.list-card .content .categories {
  font-size: 18px;
  color: #808d9e;
  font-weight: 300;
  margin-bottom: 10px;
}
.list-card h2 {
  font-weight: 600;
  font-size: 18px;
  color: #2a282b;
  margin-bottom: 0;
  margin-right: 2px;
}
.list-card span {
  font-weight: 400;
  font-size: 16px;
  color: #19414c;
  margin-left: auto;
  text-align: right;
}
.list-card p {
  color: #2a282b;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.list-card .base {
  float: right;
}
.list-card img.producteur {
  width: 50px;
  height: auto;
  position: absolute;
  right: 7px;
  bottom: 7px;
}
.list-card img.producteur.mh {
  width: 100px;
}
@media screen and (max-width: 767px) {
  .list-card {
    height: 110px;
  }
  .list-card .thumbnail {
    width: 150px;
    margin-right: 10px;
  }
  .list-card img.no-img {
    width: 80px;
    height: 80px;
  }
  .list-card h2 {
    font-size: 15px;
  }
  .list-card p,
  .list-card span {
    font-size: 11px;
  }
}
