.howToModif {
  min-height: 100vh;
}

.howToModif ol,
.howToModif ul {
  margin: initial;
  padding: revert;
}

.howToModif .mission-summary {
  font-size: 16px;
}
.howToModif .underline {
  text-decoration: underline;
}

.howToModif a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}
