# Worflow pour IC
name: Yarn CI Server

on: [push]

jobs:
  # Single job
  build:
    runs-on: ubuntu-latest

    steps:
      # Checks-out the repository
      - uses: actions/checkout@v3.2.0

      # setup npmrc
      # - run: echo -e "//npm.pkg.github.com/:_authToken=$NPM_TOKEN\n@mission-apprentissage:registry=https://npm.pkg.github.com" > server/.npmrc
      - run: cp server/.yarnrc.yml.template server/.yarnrc.yml; sed -i "s/xxxxxxxxxx/$NPM_TOKEN/g"
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

      # Install dependencies
      - name: Run Yarn Install
        run: |
          yarn --cwd server install

      # Lint
      - name: Run Lint
        run: |
          yarn --cwd server lint

      # Start docker container for tests (e.g: mongodb)
      - name: Start Docker
        run: |
          cd ui
          cp .env.example .env
          cd ../server
          cp .env.example .env
          yarn --cwd server docker:start-ci

      # Run mocha tests
      - name: Run Tests
        run: |
          yarn --cwd server test:coverage

      # codecov
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          directory: ./server/coverage
          name: codecov-server
          verbose: true

      # Teardown
      - name: Teardown
        run: |
          yarn --cwd server docker:down
