# Worflow pour IC
name: Yarn CI Server

on: [push]

jobs:
  # Single job
  build:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: "server"

    steps:
      # Checks-out the repository
      - uses: actions/checkout@v4.2.2

      - name: Enable corepack
        run: corepack enable

      - uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "yarn"
          cache-dependency-path: "**/yarn.lock"

      # setup .yarnrc.yml
      - name: Create .yarnrc.yml
        run: |
          yarn set version 4.5.0
          yarn config set nodeLinker node-modules
          yarn config set defaultSemverRangePrefix ""
          yarn config set compressionLevel mixed
          yarn config set --home enableTelemetry 0

      # Install dependencies
      - name: Run Yarn Install
        run: |
          yarn install --immutable

      # Lint
      - name: Run Lint
        run: |
          yarn lint

      # Start docker container for tests (e.g: mongodb)
      - name: Start Docker
        run: |
          cp ../ui/.env.example ../ui/.env
          cp .env.example .env
          yarn docker:start-ci

      # Run mocha tests
      - name: Run Tests
        run: |
          yarn test:coverage

      # codecov
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          directory: ./coverage
          name: codecov-server
          verbose: true

      # Teardown
      - name: Teardown
        run: |
          yarn docker:down
