# Worflow pour IC
name: Yarn CI UI

on: [push]

jobs:
  # Single job
  build:
    runs-on: ubuntu-latest

    steps:
      # Checks-out the repository
      - uses: actions/checkout@v3.3.0

      # Install dependencies
      - name: Run Yarn Install
        run: |
          yarn --cwd ui install

      # Run tests
      - name: Run Tests
        run: |
          yarn --cwd ui test:coverage

      # codecov
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          directory: ./ui/coverage
          name: codecov-ui
          verbose: true
